body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

app-bar {
    display: block;
    background-color: #b71c1c;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

main {
    padding: 2rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

note-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

note-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
}

#note-title{
    border-radius: 5px;
}

button {
    background-color: #d32f2f;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin: 10px 0px 10px 0px;
}

button:disabled {
    background-color: #ccc;
}

button:hover:not(:disabled) {
    background-color: #b71c1c;
    transform: scale(1.05);
}

app-footer {
    display: block;
    background-color: #b71c1c;
    color: white;
    padding: 1rem;
    text-align: center;
}


/* Untuk Responsive */
@media (max-width: 600px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }
}
